.category-filter {
  display: inline-block;
  position: relative;
  font-family: Arial, sans-serif;
}

.category-filter label {
  font-size: 16px;
  font-weight: bold;
  color: #333;
  margin-right: 8px;
}

.category-filter .category-dropdown {
  display: inline-block;
  position: relative;
}
.category-filter .category-select {
  appearance: none; /* Removes default dropdown styling */
  border: 1px solid #ccc; /* Border color */
  border-radius: 4px; /* Rounded corners */
  padding: 8px;
  font-size: 16px;
  background-color: var(--white);
  cursor: pointer;
  width: 100%;
}
.category-filter .category-select:focus {
  outline: none; /* Removes the default outline */
  border: 1px solid var(--grey-1); /* Custom border color */
}

/* Option text styling */
.category-filter .category-select option {
  color: var(--grey-1); /* Option text color */
}
.category-filter .category-select option[disabled] {
  color: #888; /* Light gray color for placeholder */
  font-style: italic; /* Makes placeholder text italic */
}
.category-filter .dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  border: 1px solid var(--color-split);
  background-color: var(--white);
  min-width: 150px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Hover effect on options */
.category-filter .dropdown-menu div:hover {
  background-color: var(--color-split);
}
