:root {
  --font-size-base: 14px;
  --font-size-secondary: 18px;
  --spacing-unit: 8px;
  --color-text: #191919;
  --color-text-secondary: #585858;
  --primary-color: #e85a5c;
  --secondary-color: #585858;
  --color-split: #f0f0f0;
  --grey-1: #333;
  --white: rgb(252, 249, 249);
}
