.search-wrapper {
  display: flex;
  justify-content: center;
  margin: 0 0 10px 0;
}
.search-input-container {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #000;
  padding-bottom: 5px;
  width: 500px;
}

.search-icon {
  color: #333;
  margin-right: 8px;
}

.search-input {
  border: none;
  outline: none;
  font-size: var(--font-size-secondary);
  color: var(--grey-1);
  width: 100%;
  padding: 4px;
  background-color: var(--white);
}

.search-input::placeholder {
  color: #aaa;
}

@media screen and (max-width: 600px) {
  .search-input-container {
    width: 320px;
  }
}
